/* Weather.css */
.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.heading {
  color: #333;
}

.inputContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.button {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.weatherContainer {
  margin-top: 20px;
  color:black;
}

.weatherDescription {
  text-transform: capitalize;

}

.error {
  color: #dc3545;
}
